# Build artifacts
bin/
obj/

# Visual Studio cache/options
.vs/
*.user
*.suo

# Build results
*.dll
*.exe
*.pdb
*.cache
*.log

# NuGet
*.nupkg
packages/
.nuget/

# Rider / JetBrains
.idea/

# OS-specific
.DS_Store
Thumbs.db
